@import url("https://fonts.googleapis.com/css?family=Marmelad");
/*---------reset css----------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/*-------base------*/

html,
body {
  font-family: fontSize;
  width: 100%;
  height: 100%;
}

/*-------header-------*/

.container-header {
  width: 100%;
  height: 100%;
  float: left;
}

/*---------menu----------*/

.navbar-brand {
  padding: 3px 0 2px 2px;
}

.navbar-brand img {
  width: auto;
  height: 100%;
}

.navbar {
  background: #fff;
  border: none;
  margin: 0;
}

.navbar-inverse {
  border-bottom: 1px solid #13161a;
}

.navbar-inverse .navbar-nav li a {
  border-bottom: 2px solid #13161a;
  transition: border 0.3s;
  text-transform: uppercase;
  overflow: hidden;
  color: #24282b;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  border-top: 2px solid #13161a;
  transition: border-top 0.3s;
  border-left: 2px solid #13161a;
  border-right: 2px solid #13161a;
  border-bottom: none;
  color: #000;
  transition: border 0.3s;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #13161a;
}

.collapse {
  float: right;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle img {
  widht: 20px;
  height: 20px;
  display: block;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #fff;
}

#close-menu {
  display: none;
}

/*header-photo*/

.header-photo {
  width: 100%;
  height: 40vw;
  margin: 10% 0 8% 0;
  background: url("../img/22.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  -o-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -webkit-background-attachment: fixed;
}

.header-mask {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-mask h1 {
  font-size: 12em;
  color: #fff;
}

/*wrapper*/

.wrapper {
  width: 100%;
  height: 4em;
  border-top: 2px solid #13161a;
  border-bottom: 2px solid #13161a;
  background: #fff;
  text-align: center;
}

.fixed {
  top: 53px;
  position: fixed;
  border-bottom: 2px solid #13161a;
  background: #fff;
}

.title {
  text-align: center;
  line-height: 2em;
}

.title h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 3em;
  text-align: center;
}

/*open menu*/

.button-list h3 {
  font-size: 1.3em;
  line-height: 3em;
}

#openList {
  display: none;
}

#closeList {
  display: none;
}

.button-list::before {
  content: '>';
  width: 10px;
  height: 10px;
  margin: 0 0 0 60px;
  vertical-align: middle;
  position: absolute;
  line-height: 4em;
  display: none;
}

/*choice*/

.choice-menu {
  height: auto;
  padding: 0;
  float: left;
  position: static;
  transition: 0.3s;
}

.choice-menu-fixed {
  top: 111px;
  position: fixed;
  background: #f00;
  background: #fff;
  padding: 0;
  float: left;
}

.menu {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  position: static;
}

.first-item {
  padding: 1em 0;
  border-bottom: 2px solid #13161a;
  border-right: 2px solid #13161a;
  position: static;
  transition: 0.3s;
}

.first-item:hover {
  background: #13161a;
  color: #fff;
  transition: 0.3s;
}

.first-item:hover .second-item {
  height: auto;
  opacity: 1;
  transition: 0.3s;
  padding: 1em 0 0 0;
  border-top: 1px solid #13161a;
  transition: 0.3s;
}

.first-item:hover .second-item>li {
  height: auto;
  opacity: 1;
  transition: 0.3s;
  padding: 1em 0;
  border-top: 1px solid #13161a;
}

.second-item {
  height: 0px;
  opacity: 0;
  transition: 0.3s;
}

.second-item li {
  height: 0px;
  background: #fff;
  color: #13161a;
  transition: 0.3s;
}

.second-item li:hover {
  background: #24282b;
  color: #fff;
  transition: 0.3s;
}

/*content img*/

.content {
  width: auto;
  height: auto;
  position: static;
}

.info-content {
  display: flex;
  height: 285px;
  background: #fff;
  text-align: center;
  position: static;
}

.text-countainer {
  width: 100%;
  margin: auto 0;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.1em;
  position: static;
}

.img-countainer {
  padding: 15px;
  height: auto;
  position: static;
}

.img-countainer img {
  width: 100%;
  height: auto;
}

/*--------contact--------*/

.contact {
  width: 100%;
  height: 40em;
  margin: 0 0 0 0;
  background: url("../img/23.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
  float: left;
}

.contact-imposed {
  width: 100%;
  height: 40em;
  background: rgba(1,1,1,0.5);
}

form {
  height: 20em;
  padding: 10em 0;
}

.form input,
textarea {
  width: 80%;
  height: 3em;
  margin: 1em;
  padding: 2%;
  border: 2px solid #fff;
  background: rgba(1,1,1,0);
  transition: background 0.3s;
  color: #fff;
}

textarea {
  height: 5em;
}

#submit {
  width: 10em;
}

.contact-info {
  height: 20em;
  padding: 10em 0;
}

.contact-info h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-family: fontSize;
}

.contact-info p {
  font-size: 1em;
  color: #fff;
  letter-spacing: 1px;
  line-height: 3em;
  font-family: fontSize;
}

.form input:focus {
  background: rgba(1,1,1,0.5);
  transition: background 0.3s;
}

#submit:hover {
  background: rgba(1,1,1,0.5);
  transition: background 0.3s;
}

textarea:focus {
  background: rgba(1,1,1,0.5);
  transition: background 0.3s;
}

/*-------modal-------*/

.modal {
  text-align: center;
}

.modal-dialog {
  width: 80%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body {
  background: #000;
  padding: 0;
}

.modal-content {
  background: #000;
  border: 0;
}

.modal-body img {
  width: 100%;
  height: 100%;
}

.close {
  color: #000;
  opacity: 1;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.product-photo button {
  background: #000;
  overflow: hidden;
}

.product-photo button img {
  opacity: 0.8;
  overflow: hidden;
  transition: 0.5s;
}

.product-photo button img:hover {
  opacity: 0.6;
  width: 110%;
  height: 110%;
  transition: 0.5s;
}

.product-photo button:hover {
  transform: translate(0%, -5%);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .collapse {
    float: none;
  }

  .photo-info p {
    width: 100%;
    padding: 5% 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 20px;
  }

  .photo-info h1 {
    padding: 10% 0 0 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    text-transform: uppercase;
  }

  .navbar-inverse .navbar-nav li a {
    border-bottom: none;
    text-align: center;
  }

  .navbar-inverse .navbar-nav>li>a:focus,
  .navbar-inverse .navbar-nav>li>a:hover {
    border: none;
    color: #fff;
    background: #960018;
    transition: background 0.5s;
  }
}

@media (max-width: 768px) {
  .container-photo {
    padding: 0;
  }

  .contact {
    height: 58em;
  }

  .contact-imposed {
    height: 58em;
  }

  form {
    height: 33em;
    padding: 10em 0;
  }

  .contact-info {
    height: 25em;
    padding: 5em 0;
  }

  .header-mask h1 {
    font-size: 5em;
    color: #fff;
  }

  .choice {
    overflow: hidden;
  }

  .choice-menu {
    height: 0px;
    padding: 0 15px 0 0;
  }

  #openList {
    cursor: pointer;
    display: block;
  }

  .button-list::before {
    display: block;
  }

  .menu {
    width: 60%;
    height: 100%;
    text-align: center;
    transform: translate(-200%, 0%);
  }

  .first-item {
    padding: 1em 0;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
  }

  .first-item:hover {
    background: #000;
    color: #fff;
    padding: 1em 0 0 0;
  }

  .first-item:hover .second-item {
    height: auto;
    opacity: 1;
    transition: 0.3s;
    padding: 1em 0 0 0;
    border-top: 1px solid #000;
  }

  .first-item:hover .second-item>li {
    height: auto;
    opacity: 1;
    transition: 0.3s;
    padding: 1em 0;
    border-top: 1px solid #000;
  }

  .second-item {
    height: 0px;
    opacity: 0;
    transition: 0.3s;
  }

  .second-item li {
    height: 0px;
    background: #fff;
    color: #000;
  }

  .second-item li:hover {
    background: #333;
    color: #fff;
  }

  .button-list h3:hover .menu {
    margin: 0 0 0 0;
  }
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

/*

R - 36 G - 40 B - 43 
#24282B

R - 248 G - 239 B - 140 
#F8EF8C

R - 19 G - 22 B - 26
 #13161A

*/