@import url("https://fonts.googleapis.com/css?family=Roboto");
/*.colorsave
	color #24282B сірий
	color #F8EF8C жовтий
	color #13161A темно сірий*/

/*---------reset css----------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/*-------base------*/

html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

/*-------header-------*/

.container-header {
  width: 100%;
  height: 100%;
  float: left;
}

/*------carousel-------*/

.carousel {
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carousel-inner {
  height: 100%;
}

.item {
  height: 100%;
}

.photoback-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("../img/18.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.photoback-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("../img/10.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.photo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 22em;
  position: absolute;
  background: rgba(0,0,0,0.2);
}

.photo-info p {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #13161a;
  font-size: 2em;
  line-height: 100px;
}

.photo-info h1 {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #13161a;
  font-size: 3em;
  text-transform: uppercase;
}

.photo-info a {
  width: 10em;
  height: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #000;
  background: rgba(0,0,0,0.1);
  border-bottom: solid 3px #f8ef8c;
  text-decoration: none;
  transition: background 0.3s;
  text-align: center;
  vertical-align: middle;
}

.photo-info a:hover {
  background: #fff;
  transition: background 0.3s;
}

.photo-info-white {
  background: rgba(20,20,20,0.4);
}

.photo-info-white h1,
.photo-info-white p,
.photo-info-white a {
  color: #fff;
}

.photo-info-white a {
  border-bottom: solid 3px #f8ef8c;
}

.photo-info-white a:hover {
  background: #000;
}

.carousel-control {
  opacity: 0.5;
  width: 55px;
  height: 55px;
  background: rgba(50,0,80,0);
  vertical-align: middle;
  top: 50%;
  bottom: 50%;
}

.carousel-control img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.carousel-control:focus,
.carousel-control:hover,
color #fff,
text-decoration none,
outline 0,
opacity 0.9,
.glyphicon {
  width: 100%;
  height: 55px;
  color: #f8ef8c;
}

/*---------menu----------*/

.navbar-brand {
  padding: 3px 0 2px 2px;
}

.navbar-brand img {
  width: auto;
  height: 100%;
}

.navbar {
  background: #fff;
  border: none;
  margin: 0;
}

.navbar-inverse {
  border-bottom: 1px solid #13161a;
}

.navbar-inverse .navbar-nav li a {
  transition: background 0.5s;
  text-transform: uppercase;
  overflow: hidden;
  color: #24282b;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #fff;
  background: #24282b;
  transition: background 0.5s;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #fff;
}

.collapse {
  float: right;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle img {
  widht: 20px;
  height: 20px;
  display: block;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #fff;
}

#close-menu {
  display: none;
}

/*------conteiner-about----------*/

.conteiner-about {
  height: auto;
}

.title-about {
  height: 20em;
  text-align: center;
  vertical-align: middle;
  display: table;
}

.title-about h2 {
  font-size: 3.5em;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  color: #13161a;
  font-family: 'Roboto', sans-serif;
}

.text-info {
  height: 20em;
  text-align: center;
  vertical-align: middle;
  display: table;
}

.info-about p {
  text-align: justify;
  line-height: 2em;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  display: table-cell;
  font-size: 1em;
  color: #24282b;
  letter-spacing: 1px;
}

/*---------------container-news-------------*/

.container-news {
  width: 100%;
  height: 100%;
  display: none;
}

/*---------catolog-product----------*/

.container-product {
  height: 50em;
  background: #fff;
  overflow: hidden;
}

.dws {
  height: 25em;
  background: #222;
  overflow: hidden;
  transition: 1s;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.blocimg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blocimg img {
  width: 110%;
  height: 110%;
  transition: 0.5s;
  opacity: 0.4;
}

.dws:hover .blocimg>img {
  transform: ratione(-10deg) scale 1.3;
  -webkit-transform: ratione(-10deg) scale 1.3;
  -moz-transform: ratione(-10deg) scale 1.3;
  -o-transform: ratione(-10deg) scale 1.3;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.blocText {
  position: absolute;
  top: 30px;
  left: 15px;
  right: 15px;
  bottom: 30px;
}

.text {
  color: #fff;
  text-transform: uppercase;
  padding: 50px 20px;
}

.text h2 {
  font-size: 1.2em;
  text-align: center;
  color: #ddd;
  left: 30px;
  right: 30px;
}

.text p {
  line-height: 1.2em;
  letter-spacing: 1.5px;
  font-size: 0.875em;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.blocimg a {
  width: 60%;
  height: 50px;
  line-height: 50px;
  left: 20%;
  right: 20%;
  top: 20em;
  background: rgba(0,0,0,0.2);
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: solid 3px #f8ef8c;
  color: #fff;
  position: absolute;
  text-align: center;
  vertical-align: center;
  transform: translate(0%, 240%);
  -webkit-transform: translate(0%, 240%);
  -moz-transform: translate(0%, 240%);
  -o-transform: translate(0%, 240%);
  transition: transform 1s, background 0.5s, color 0.5s;
}

.dws:hover .blocimg>a {
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  transition: 0.5s;
}

.blocimg a:hover {
  background: #000;
  transition: 0.5s;
}

/*----------process-----------*/

.process {
  width: 100%;
  height: 20em;
}

.process-text {
  padding: 0 15%;
  margin: 5em 0;
}

.process-text p {
  text-align: justify;
  font-size: 1em;
  color: #24282b;
  line-height: 2em;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

/*-----process-container-----*/

.process-container {
  width: 100%;
  height: 20em;
  margin: 5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.process-work {
  height: 10em;
  margin: 1em 0;
  text-align: center;
}

.process-work:hover .process-work-box {
  transition: border-bottom 0.3s;
  border-bottom: 10px solid #f8ef8c;
}

.process-work-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 5px solid #f8ef8c;
  transition: border-bottom 0.3s;
}

.process-work h3 {
  text-align: center;
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
  color: #13161a;
}

.process-work-box p {
  font-size: 1em;
  color: #24282b;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.choice::before {
  content: '';
  position: absolute;
  display: inline-block;
  color: #f8ef8c;
  width: 2em;
  height: 2em;
  margin: -7px 0 0 -40px;
  float: left;
  background: url("../img/icosvg/eye.svg");
}

.connection::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: -7px 0 0 -40px;
  float: left;
  background: url("../img/icosvg/chat.svg");
}

.measure::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: -7px 0 0 -40px;
  float: left;
  background: url("../img/icosvg/meter.svg");
}

.installation::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: -7px 0 0 -40px;
  float: left;
  background: url("../img/icosvg/window.svg");
}

/*--------product-------*/

.product {
  height: 24em;
  padding: 0;
}

.wrapper {
  padding: 2% 0 2% 0;
  width: 100%;
  text-align: center;
}

.wrapper h2 {
  padding: 1% 0;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  color: #13161a;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.product-photo {
  width: 100%;
  height: 17em;
}

.container-photo button {
  width: 100%;
  height: 15em;
  padding: 0;
  border: none;
}

.container-photo img {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}

/*-------modal-------*/

.modal {
  text-align: center;
}

.modal-dialog {
  width: 80%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body {
  border-radius: 0;
  padding: 10px;
}

.modal-content {
  background: #fff;
  border-radius: 0;
}

.modal-body img {
  width: 100%;
  height: 100%;
}

.close {
  color: #000;
  opacity: 1;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.product-photo button {
  background: #000;
  overflow: hidden;
}

.product-photo button img {
  opacity: 0.8;
  overflow: hidden;
  transition: 0.5s;
}

.product-photo button img:hover {
  opacity: 0.6;
  width: 110%;
  height: 110%;
  transition: 0.5s;
}

.product-photo button:hover {
  transform: translate(0%, -5%);
  transition: 0.5s;
}

/*----------info-stuff----------*/

.info-stuff {
  width: 100%;
  height: auto;
  margin: 5em 0;
}

.info-stuff-text {
  padding: 0 15%;
}

.info-stuff-text p {
  text-align: justify;
  font-size: 1em;
  color: #333;
  line-height: 2em;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

/*--------contact--------*/

.contact {
  width: 100%;
  height: 40em;
  margin: 5% 0 0 0;
  background: url("../img/23.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
  float: left;
}

.contact-imposed {
  width: 100%;
  height: 40em;
  background: rgba(1,1,1,0.5);
}

form {
  height: 20em;
  padding: 10em 0;
}

.form input,
textarea {
  width: 80%;
  height: 3em;
  margin: 1em;
  padding: 2%;
  border: 2px solid #fff;
  background: rgba(1,1,1,0);
  transition: background 0.3s;
  color: #fff;
}

textarea {
  height: 5em;
}

#submit {
  width: 10em;
}

.contact-info {
  height: 20em;
  padding: 10em 0;
}

.contact-info h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-family: 'Roboto', sans-serif;
}

.contact-info p {
  font-size: 1em;
  color: #fff;
  letter-spacing: 1px;
  line-height: 3em;
  font-family: 'Roboto', sans-serif;
}

.form input:focus {
  background: rgba(1,1,1,0.5);
  transition: background 0.3s;
}

#submit:hover {
  background: rgba(1,1,1,0.5);
  transition: background 0.3s;
}

textarea:focus {
  background: rgba(1,1,1,0.5);
  transition: background 0.3s;
}

/*--------footer----------*/

footer {
  width: 100%;
  height: 6em;
  padding: 0;
  background: #fff;
  text-align: center;
  float: left;
}

.footer-info {
  height: 5em;
  width: 100%;
}

.footer-info p {
  height: 5em;
  line-height: 5em;
}

/*---------media--------*/

@media (max-width: 1200px) {
  .container-product {
    height: 75em;
  }
}

@media (max-width: 992px) {
  .title-about {
    height: 5em;
    text-align: center;
    vertical-align: middle;
    display: table;
    padding: 0;
  }

  .title-about h2 {
    font-size: 3em;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    color: #333;
    padding: 0;
  }

  .text-info {
    padding: 0;
  }

  .text-info p {
    padding: 0;
  }

  .container-product {
    height: 100em;
  }

  .process {
    width: 100%;
    height: 30em;
  }

  .process-container {
    height: 25em;
  }

  .process-work {
    height: 10em;
    padding: 20px 15px;
  }
}

@media (max-width: 768px) {
  .collapse {
    float: none;
  }

  .photo-info p {
    width: 100%;
    padding: 5% 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 20px;
  }

  .photo-info h1 {
    padding: 10% 0 0 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    text-transform: uppercase;
  }

  .navbar-inverse .navbar-nav li a {
    border-bottom: none;
    text-align: center;
  }

  .navbar-inverse .navbar-nav>li>a:focus,
  .navbar-inverse .navbar-nav>li>a:hover {
    border: none;
    color: #fff;
    background: #24282b;
    transition: background 0.5s;
  }

  .title-about {
    height: 5em;
    padding: 0px;
    margin: 0;
  }

  .title-about h2 {
    height: 5em;
    font-size: 2em;
    padding: 0px;
    margin: 0;
  }

  .blocimg a {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
  }

  .container-product {
    height: 200em;
  }

  .process {
    height: 35em;
  }

  .process-container {
    height: 45em;
  }

  .product {
    height: 53em;
  }

  .container-photo {
    padding: 0;
  }

  .contact {
    height: 58em;
  }

  .contact-imposed {
    height: 58em;
  }

  form {
    height: 33em;
    padding: 10em 0;
  }

  .contact-info {
    height: 25em;
    padding: 5em 0;
  }
}

@media (max-width: 610px) {
  .process {
    height: 35em;
  }
}

@media (max-width: 540px) {
  .process {
    height: 40em;
  }

  .process-text p {
    line-height: 1.5em;
  }
}

@media (max-width: 425px) {
  .process {
    height: 45em;
  }
}

@media (max-width: 415px) and (max-height: 812px) {
  .carousel-control {
    opacity: 0.5;
  }
}

@media (max-width: 325px) {
  .process-container {
    height: 50em;
  }
}

/*fix 5 col*/

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}